.mat-card {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px;
    @media (max-width: 600px) {
      width: 90%;
    }
  }
  

  .btn{
    background-color: #34495e;
    color: white;
  }

:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after,
:host ::ng-deep mat-label {
    border-bottom-color: #34495e!important;
    color: #34495e!important;
}
